body
{
	width: 100%;
	margin: auto;
	font-size: 1.4em;
	line-height: 1.5em;
	font-family: "Courier New";
	/*background-color: #222241;
	color: #dedede;*/
}
.nopadding {
    line-height:1em !important;
}
#glcanvas {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

/* HEADER --------------------------*/

#home-header
{
    padding-top: 2em;
    /*display: grid;
	grid-template-columns: 60% 40%;*/
    padding-bottom: 1em;
    text-align: center;


    #name-header
    {
	text-align:center;
	font-size: 4.5em;
    }

    #name-plate
    {
	padding-top: 10%;
	grid-column: 1/2;
    }
    #name-descriptor
    {
	color: rgba(150,150,150,255);
    }

}
/* NAV --------------------*/

#main-nav
{
	padding: 1em;
	display: flex;
	justify-content: space-between;
	width:90%;
}

/* ABOUT -------------------*/
a:hover
{
	font-weight: bolder;
}

.hello-section
{
	width: 90%;
}


/* PROJECTS ----------------*/
.project-section
{
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    .project-block
    {
	margin: auto;
	padding: 1em;
    }
    
    .project-title
    {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	opacity: 0%;
	transition: 0.3s;
    }
    
    .project-video
    {
	width: 100%;
    }
    .project-img
    {
	object-fit: cover;
	height: 256px;
	width: auto;
	max-width: 450px;

    }
    .img-overlay:hover::before
    {
	background: rgba(0,0,0,0.5);
    }
    .img-overlay::before
    {
	content:"";
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	transition: 0.3s;
	background: rgba(0,0,0,0.0);
	margin:auto;
    }

    .img-overlay:hover a
    {
	opacity: 100%;
    }

    .img-overlay
    {
	position:relative;
    }
}

#experience-section
{
    margin: auto;
}

/* EXPERIENCE ------------------*/
@media screen and (min-width: 1200px)
{
	body
	{
		width: 100%;
		font-size: 1.5em;
		line-height: 1.5em;
		font-family: "Courier New";
	}

	#home-header
	{
		padding-top: 4em;
	}

	#main-nav
	{
		padding-top: 3em;
		display: flex;
		justify-content: space-around;
		width:50%;
	}
	.hello-section
	{
		width:50%;
	}
	.project-section
	{
		width: 75%;
	}
}
