body
{
	width: 90%;
	margin: auto;
	font-size: 1.2em;
	line-height: 1.5em;

	font-family: "Courier New";
	/*background-color: #222241;
	color: #dedede;*/
}
.nopadding {
    line-height:1em !important;
}
#glcanvas {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}
#content {
    display:grid;
}

/* HEADER --------------------------*/

#home-header
{
    /*display: grid;
	grid-template-columns: 60% 40%;*/
    padding-bottom: 1em;
    text-align: center;


    #name-header
    {
	text-align:center;
	font-size: 4em;
    }

    #name-plate
    {
	padding-top: 10%;
	grid-column: 1/2;
    }
    #name-descriptor
    {
	color: rgba(150,150,150,255);
    }

}
/* NAV --------------------*/

#main-nav
{
	padding: 1em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;
	width:90%;
}

/* ABOUT -------------------*/
a:hover
{
	font-weight: bolder;
}

.hello-section
{
    width: 90%;
    margin: auto;
    padding: 2em;
}


/* PROJECTS ----------------*/
#project-section
{
    width:90%;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;

    .project-block
    {
	margin: auto;
	padding: 1em;
	width: 80%;
	aspect-ratio: 1/1;
	border-color: rgb(234 234 234);
        border-style: solid;
        border-width: 0.1em;
    }
    
    .project-title
    {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	opacity: 0%;
	transition: 0.3s;
    }
    
    .project-video
    {
	width: 100%;
    }
    .project-img
    {
	max-width: 100%;
	object-fit: contain;
    }
/*    .img-overlay:hover::before
    {
	background: rgba(0,0,0,0.5);
    }
    .img-overlay::before
    {
	content:"";
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	transition: 0.3s;
	background: rgba(0,0,0,0.0);
	margin:auto;
    }

    .img-overlay:hover a
    {
	opacity: 100%;
    }
*/
    .project-background
    {
	position: absolute;
	opacity: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
    }
    .project-container
    {
	width:100%;
	height:100%;
	position:relative;
	display:flex;
    }
    .project-hoverbox
    {
	position: absolute;
	opacity: 0%;
	width: 100%;
	height: 100%;
    }
}

#experience-section
{
    margin: auto;
}

footer
{
    margin: auto;
    text-align: center;
    padding-bottom: 2em;
}

@media only screen and (max-width: 600px) {
body
{
	width: 100%;
	margin: auto;
	font-size:1em;
}    

/* PROJECTS ----------------*/
#project-section
{
    grid-template-columns: 1fr;
    margin:auto;
    .project-block
    {
	padding: 0;
	width: 100%;
    }
    .img-overlay::before
    {
	height:0;
	width:0;
    }


}
.hello-section
{
    width: 100%;
    text-align:center;
    padding: 0;
}

/*.project-title:active
{
    opacity: 100%;
}*/

}
